---
import '../styles/global.css';
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

interface Props {
    title: string;
    description?: string;
    bodyClass?: string;
}
const { title, description, bodyClass = '' } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body class={bodyClass}>
        <Nav />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
